NODE_ENV=development

PORT=3000

COOKIE_EXPIRATION_HOURS=24

JWT_SECRET=thisisasecretkey
JWT_ACCESS_EXPIRATION_MINUTES=120
JWT_REFRESH_EXPIRATION_DAYS=30

SQL_USERNAME=postgres
SQL_HOST=127.0.0.1
SQL_DATABASE_NAME=postgres
SQL_PASSWORD=nana

# SMTP configuration options for the email service
# For testing, you can use a fake SMTP service like Ethereal: https://ethereal.email/create
SMTP_HOST=email-server
SMTP_PORT=587
SMTP_USERNAME=email-server-username
SMTP_PASSWORD=email-server-password
EMAIL_FROM=support@yourapp.com

S3_BUCKET=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
SQS_QUEUE_URL=

STRIPE_WEBHOOK_SECRET=
STRIPE_SECRET_KEY=

FCM_SERVICE_ACCOUNT_PATH=

VENDOR_PORTAL_URL=
S3_BUCKET_URL=

NOTIFICATION_TOPIC=app-user-dev
